/*定义index首页的css样式 */
a{
	text-decoration: none;
}
img{
	display: block;
}
body{
	font-family:微软雅黑;
	color:#333;
	

}
ul{
	list-style: none;
}
#header-wrap{
	width: 100%;
	height: 38px;
	min-width: 1226px;
	background: #333333;
}
#header{
	width: 1226px;
	height: 38px;
	margin: 0 auto;
	/*background: blue;*/
	font-size:12px;
}
#header #menu{
	/*width: 400px;*/
	height: 100%;
	background: green;
	float: left;
}
 #header ul>li{
 	float: left;
 	line-height: 38px;
 	position: relative;

}
#header ul>li+li::first-child>a{
	padding: 0;

}
#header ul>li+li::after{
	content: "";
	width: 1px;
	height: 12px;
	background: #424242;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
}
#header ul>li>a{
	color:#B0B0B0;
	padding: 6px;
}
#header #user-action{
	width: 288px;
	height: 100%;
	/*background: pink;*/
	float: right;
}

/*#header #user-action>ul>li>a{
	float: left;
	padding: 10px;
	color: #B0B0B0;
}
/*#header #user-action>ul>li::after{
	content: "";
	width: 1px;
	height: 18px;
	background: #424242;
	display: block;
	position: absolute;
}
*/
#header ul>li>a:hover{
	color: white;
}
#header #user-action #shopcar{
	width: 120px;
	height: 38px;
	background: #424242;
	/*clear: left;*/
	float: left;
	z-index: 9999;
	position: relative;
	/*z-index:0;*//*不设还好，一设就出事，，，*/
}
#header #user-action #shopcar #car-logo{
	color: #B0B0B0;
	line-height: 38px;
	height: 38px;
	width: 100%;
	text-align: center;

}
#header #user-action #shopcar #car-logo i{
	font-size: 12px;
	font-weight: bold;
	
}
#header #user-action #shopcar #car-logo {
	cursor: pointer;
}
#header #user-action #shopcar:hover  #car-logo{
	color: #FF6700;
	background: #fff;
}/* 为啥没优先级影响*/
#header #user-action #shopcar #car-info{
	width: 320px;
	height: 0px;
	background: #fff;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	color: #424242;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 38px;
	right: 0;
	z-index:-1;
	transition: height 0.2s linear 0.1s;
	overflow: hidden;
}
#header #user-action #shopcar:hover #car-info{
	height: 100px;
}
#nav{
	width: 1226px;
	height: 94px;
	/*background: blue;*/
	margin: 0 auto;
	display: flex;
	align-items: center;
	/*position: relative;*/
}
#nav #logo{
	width: 55px;
	height: 55px;
	background: #FF6700;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	left: 56px;
}
#nav #logo img{
	display: block;
}
#nav #nav-menu{
	/*width: 600px;*/
	height: 100%;
	/*background:green;*/
	margin-left:188px; 
	/*position: relative;*/
	right: -40px;


}
#nav #nav-menu>ul{
	display: flex;
	align-items: center;
	/*justify-content:center;*/
	height: 100%;
}
#nav #nav-menu>ul>li>a{
	/*float: left;*/
	color: #333;
	padding:10px; 
}
#nav #nav-menu>ul>li:hover>a{
	color: #FF6700;

}
#nav #search{
	margin-left: 50px;
	display: block;
	position: relative;
	left: 66px;

}
#nav #search input[type=search]{
	width: 220px;
	height: 50px;
	border: 1px solid #e0e0e0;
	outline: none;
}
#nav #search form{
	display: flex;
}

#nav #search button {
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	outline: none;
	background: #fff;
	border-left: none;
	/*text-shadow: none;*/
	/*border: 0;*/
	/*box-shadow: 1px 0px 0.1px 1px;*/
}
#nav #search button:hover{
	background: #FF6700;
	border:1px solid  #FF6700;
	color: #fff;
	outline:0;
	/*background-color: #FF6700;*/
	border:0;
}
#nav #search:hover input[type=search],#nav #search:hover button{
	border-color: #808080;
}
#nav #search input[type=search]:focus,#nav #search input[type=search]:focus+button{
	border-color:#FF6700; 
}
#nav #search #datalist{
	position: absolute;
	width: 220px;
	/*left: -1px;*/
	border: 1px solid #FF6700;
	top: 50px;	
	border-top: none;
	display: none;
	padding-left: 20px;
	box-sizing: border-box;
	z-index: 999;
	background: #fff;
}
#nav #search #datalist>ul>li{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
#nav #search #datalist>ul>li>a{
	color: #333;
	display: block;
	width: 100%;
	height: 100%；

}
#nav #search #datalist>ul>li>a>.num{
	float: right;
	color: #B0B0B0;
	margin-right: 20px;
}
#nav #search input[type=search]:focus~#datalist{
	display: block;
}
#nav #search #default-phone{
	position: absolute;
	top: 25px;
	height: 18px;
	margin-top:-7.5px; 
	line-height: 15px;
	right: 60px;
	/*color: #757575;*/
	/*font-size: 12px;*/

}
#nav #search #default-phone>ul{
	display: flex;
}
#nav #search #default-phone>ul>li>a{
	font-size: 12px;
	color: #757575;
	padding-left:5px;
	padding-right: 5px;
}
#nav #search #default-phone>ul>li{
	margin-left: 5px;
	background: #EEEEEE;

}
#nav #search #default-phone>ul>li>a:hover{
	background: #FF6700;
	color: #fff;
	transition: all 0.2s;
}
#nav #search input[type=search]:focus~#default-phone{
	display: none;
}
#nav #nav-menu>ul>li>.menu-goods-list{
	position: absolute;
	width: 100%;
	height: 204px;
	/*background: green;*/
	left: 0;
	top: 139px;
	z-index: 999;
	/*border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;*/
	overflow: hidden;
	height: 0px;
	transition: all 0.3s linear;
}
#nav-wrap{
	width: 100%;
	position: relative;
	height:auto;
	z-index:99;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container{
	height: 204px;
	width: 1238px;
	/*background: pink;*/
	margin:0 auto; 
	background: #fff;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li{
	/*width: 195px;*/
	height: 204px;
	/*background: green;*/
	overflow: hidden;
	float: left;
	position: relative;
	padding: 0 20px;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>img{
	display: block;
	width: 160px;
	height: 110px;
	margin-top: 34px;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>.goods-info{
	text-align: center;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span{
	display: block;
	font-size: 12px;
	margin-top: 8px;

}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span.goods-price{
	color: #FF6700;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span.goods-price1{
	color: #333;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span.goods-title{
	color: #333;

}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li+li::before{
	content: "";
	width: 1px;
	height: 100px;
	background: #e0e0e0;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -68px;
	left: 0px;

}
#nav #nav-menu>ul>li>.menu-goods-list>.top-line{
	width: 100%;
	height: 1px;
	background: #e0e0e0;
	top: 0;
	position: absolute;

}
#nav #nav-menu>ul>li>.menu-goods-list>.bottom-line{
	width: 100%;
	height: 1px;
	background: #e0e0e0;
	position: absolute;
	bottom: 0;
}
#nav #nav-menu>ul>li:hover>.menu-goods-list{
	height: 204px;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>.goods-status{
	padding: 1px 20px;
	height: 20px;
	border: 1px solid #FF6700;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 1;
	margin-left: -30px;
	color: #FF6700;
	font-size: 12px;
	line-height: 20px;
}
#slider-container {
    position: relative;
    width: 1226px;
    height: 460px;
    /*background:red;*/
    margin: 0 auto;
    top: 7px;
    /*z-index:-1;*/
}

#slider-container #slider img {
    width: 1226px;
    height: 460px;
    /*background:red;*/
    margin: 0 auto;
    position: absolute;
    /*left: 56px;*/
}

#slider-container #cate-menu {
    width: 234px;
    height: 460px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}

#slider-container #cate-menu {
    /*padding-top: 30px;*/
    box-sizing: border-box;
    box-sizing: content-box;
    /* overflow: hidden;*/
}

#slider-container #cate-menu>ul>li {
    width: 234px;
    height: 40px;
    line-height: 40px;
    /*background: green;*/
    /*margin-top:20px; */
    /*position: relative;*/
    /* overflow: hidden;*/
}

#slider-container #cate-menu>ul>li>a {

    color: #fff;
    font-size: 14px;
    display: block;
    padding-left: 30px;
   	padding-top: 0px;

}

#slider-container #cate-menu>ul {
    /*   overflow: hidden;*/
    padding-top: 20px;
    /*position: absolute;*/
}

#slider-container #cate-menu>ul>li:hover {
    background: #FF6700;
}

#slider-container #cate-menu>ul>li>a>span {
    float: right;
    margin-right: 26px;
    color: #AEB3B7;
}
#slider-container #cate-menu>ul>li>.cate-menu-list{
	width:992px;
	height: 460px;
	background:#fff;
	position: absolute;
	left: 234px;
	top:0px;
	display: none;
	/*box-sizing: border-box;*/

}
#slider-container #cate-menu>ul>li>.cate-menu-list-num-3{
	width: 744px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list-num-2{
	width: 496px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list-num-1{
	width: 248px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul{
	width: 248px;
	height: 460px;
	float: left;
}
/*#slider-container #cate-menu>ul>li>.cate-menu-list:first-child{
	margin-top: 0px;

}*/
/*#slider-container #cate-menu>ul>li>.list-1{
	margin-top: 0px;
}*/
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li{
	line-height: 10px;
	height: 48px;
	margin: 0 auto;
	padding-top: 26px;
	/*overflow: hidden;*/

}
#slider-container #cate-menu>ul>li:hover>.cate-menu-list{
	display: block;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a{
	display: block;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: -5px;

}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a>img{
	width: 40px;
	height: 40px;
	margin-left: 24px;
	display: block;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a>span{
	font-size: 14px;
	color:#333333;
	margin-left: 16px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a>span:hover{
	color: #FF6700;
}


#choose-menu{
	/*position: relative;*/
	margin-top: 18px;
	margin-left: 42px;
}
#choose-menu>ul>li{
	float: left;
	/*position: relative;*/
	padding-right: 15px;
}
#choose-menu>ul>li>a>img{
	width: 315px;
	height: 167px;
}
#choose-menu>ul>li>a{
	display: block;
}
#choose-menu>ul>li>.choose-menu-child{
	width: 236px;
	height: 167px;
	/*border: 1px solid red;*/
	background: #5F5750;
}
#choose-menu>ul>li>.choose-menu-child>ul>li{
	width: 78px;
	height: 62px;
	/*border-right: 1px solid blue;
	border-bottom: 1px solid blue;*/
	float: left;
	padding-top: 18px;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	position: relative;
	
}
#choose-menu>ul>li>.choose-menu-child>ul>li>a{
	color: #CDCAC8;
	margin: 2px;
}
#choose-menu>ul>li>.choose-menu-child>ul>li>a:hover{
	color: #fff;
}
#choose-menu>ul>li>.choose-menu-child>ul>li::after{
	height: 65px;
	width: 1px;
	background:#665E57;
	content: "";
	position: absolute;
	top: 10px;
	left: 0px;

}





/*小米闪购*/
#quickly-shopping{
	width: 1184px;
	height: 438px;
	/*position: absolute;*/
	/*background: blue;*/
	margin-top: 208px;
	padding-left: 42px;
	margin-left: 42px;
}
#quickly-shopping>.title{
	width: 1226px;
	height: 58px;
	/*background: yellow;*/
	clear: both;
	display: block;
	position: relative;
	/*top: 28px;*/
	margin-left: -42px;
	/*margin-top: 30px;*/
	line-height: 68px;
	font-size: 22px;
}
#quickly-shopping>#shopping-menu>ul{
	width: 230px;
	height: 332px;
	display: flex;
	margin-left: -42px;
	display: block;
	border-top: 1px solid #E53935;
	background:#F1EDED;
	/*margin-top: -48px;*/
	float: left;
}
#quickly-shopping>#shopping-menu>ul:nth-of-type(n+2){
	margin-left: 19px;
}
#quickly-shopping>#shopping-menu>ul>li{
	/*background: red;*/
	text-align : center;
	line-height: 50px;
	/*margin-top: 48px;*/
	padding-top: 60px;
	width: 100%;
	height: 
}
#quickly-shopping>#shopping-menu>ul>li>img{
	display: inline-block;
}
#quickly-shopping>#shopping-menu>ul>li>a>img{
	display: inline-block;
}


/*广告*/
.advertising>a>img{
	height:118px;
	width: 1226px;
	margin-left: 42px;
	margin-top: 0;
}

/*手机*/
#phone-menu>.title-second{
	width: 1226px;
	height: 58px;
	background: #fff;
	margin-left: 42px;
}
#phone-menu{
	margin-top: 41px;
	height: 614px;
	width: 100%;
	background: green;
}
#phone-menu>.title-second>span{
	text-align: center;
	font-size: 22px;
	margin-top: 20px;

}
#phone-menu>.title-second>a{
	font-size: 16px;
	float: right;
	margin-top: 20px;
	color: #424242;
}
#phone-menu>.title-second>a:hover{
	color: #FF6700;
}




