/*定义index首页的css样式 */
a{
	text-decoration: none;
}
img{
	display: block;
}
body{
	font-family:微软雅黑;
	color:#333;
	background: #F1EDED;
	

}
ul{
	list-style: none;
}
#header-wrap{
	width: 100%;
	height: 38px;
	min-width: 1226px;
	background: #333333;
}
#header{
	width: 1226px;
	height: 38px;
	margin: 0 auto;
	/*background: blue;*/
	font-size:12px;
}
#header #menu{
	/*width: 400px;*/
	height: 100%;
	background: green;
	float: left;
}
 #header ul>li{
 	float: left;
 	line-height: 38px;
 	position: relative;

}
#header ul>li+li::first-child>a{
	padding: 0;

}
#header ul>li+li::after{
	content: "";
	width: 1px;
	height: 12px;
	background: #424242;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
}
#header ul>li>a{
	color:#B0B0B0;
	padding: 6px;
}
#header #user-action{
	width: 288px;
	height: 100%;
	/*background: pink;*/
	float: right;
	margin-right: -40px;
}

/*#header #user-action>ul>li>a{
	float: left;
	padding: 10px;
	color: #B0B0B0;
}
/*#header #user-action>ul>li::after{
	content: "";
	width: 1px;
	height: 18px;
	background: #424242;
	display: block;
	position: absolute;
}
*/
#header ul>li>a:hover{
	color: white;
}
#header #user-action #shopcar{
	width: 120px;
	height: 38px;
	background: #424242;
	/*clear: left;*/
	float: left;
	z-index: 9999;
	position: relative;
	/*z-index:0;*//*不设还好，一设就出事，，，*/
}
#header #user-action #shopcar #car-logo{
	color: #B0B0B0;
	line-height: 38px;
	height: 38px;
	width: 100%;
	text-align: center;

}
#header #user-action #shopcar #car-logo i{
	font-size: 12px;
	font-weight: bold;
	
}
#header #user-action #shopcar #car-logo {
	cursor: pointer;
}
#header #user-action #shopcar:hover  #car-logo{
	color: #FF6700;
	background: #fff;
}/* 为啥没优先级影响*/
#header #user-action #shopcar #car-info{
	width: 320px;
	height: 0px;
	background: #fff;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	color: #424242;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 38px;
	right: 0;
	z-index:-1;
	transition: height 0.2s linear 0.1s;
	overflow: hidden;
}
#header #user-action #shopcar:hover #car-info{
	height: 100px;
}
#nav{
	width: 1226px;
	height: 94px;
	/*background: blue;*/
	margin: 0 auto;
	display: flex;
	align-items: center;
	/*position: relative;*/
}
#nav #logo{
	width: 55px;
	height: 55px;
	background: #FF6700;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	margin-left: 4px;
}
#nav #logo img{
	display: block;
}
#nav #nav-menu{
	/*width: 600px;*/
	height: 100%;
	/*background:green;*/
	margin-left:188px; 
	/*position: relative;*/
	right: -40px;


}
#nav #nav-menu>ul{
	display: flex;
	align-items: center;
	/*justify-content:center;*/
	height: 100%;
}
#nav #nav-menu>ul>li>a{
	/*float: left;*/
	color: #333;
	padding:10px; 
}
#nav #nav-menu>ul>li:hover>a{
	color: #FF6700;

}
#nav #search{
	margin-left: 50px;
	display: block;
	position: relative;
	left: 66px;

}
#nav #search input[type=search]{
	width: 220px;
	height: 50px;
	border: 1px solid #e0e0e0;
	outline: none;
}
#nav #search form{
	display: flex;
	margin-left: 42px;
}

#nav #search button {
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	outline: none;
	background: #fff;
	border-left: none;
	/*text-shadow: none;*/
	/*border: 0;*/
	/*box-shadow: 1px 0px 0.1px 1px;*/
}
#nav #search button:hover{
	background: #FF6700;
	border:1px solid  #FF6700;
	color: #fff;
	outline:0;
	/*background-color: #FF6700;*/
	border:0;
}
#nav #search:hover input[type=search],#nav #search:hover button{
	border-color: #808080;
}
#nav #search input[type=search]:focus,#nav #search input[type=search]:focus+button{
	border-color:#FF6700; 
}
#nav #search #datalist{
	position: absolute;
	width: 220px;
	/*left: -1px;*/
	border: 1px solid #FF6700;
	top: 50px;	
	border-top: none;
	display: none;
	padding-left: 20px;
	box-sizing: border-box;
	z-index: 999;
	background: #fff;
}
#nav #search #datalist>ul>li{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
#nav #search #datalist>ul>li>a{
	color: #333;
	display: block;
	width: 100%;
	height: 100%；

}
#nav #search #datalist>ul>li>a>.num{
	float: right;
	color: #B0B0B0;
	margin-right: 20px;
}
#nav #search input[type=search]:focus~#datalist{
	display: block;
}
#nav #search #default-phone{
	position: absolute;
	top: 25px;
	height: 18px;
	margin-top:-7.5px; 
	line-height: 15px;
	right: 60px;
	/*color: #757575;*/
	/*font-size: 12px;*/

}
#nav #search #default-phone>ul{
	display: flex;
}
#nav #search #default-phone>ul>li>a{
	font-size: 12px;
	color: #757575;
	padding-left:5px;
	padding-right: 5px;
}
#nav #search #default-phone>ul>li{
	margin-left: 5px;
	background: #EEEEEE;

}
#nav #search #default-phone>ul>li>a:hover{
	background: #FF6700;
	color: #fff;
	transition: all 0.2s;
}
#nav #search input[type=search]:focus~#default-phone{
	display: none;
}
#nav #nav-menu>ul>li>.menu-goods-list{
	position: absolute;
	width: 100%;
	/*height: 204px;*/
	/*background: green;*/
	left: 0;
	top: 139px;
	z-index: 999;
	/*border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;*/
	overflow: hidden;
	height: 0px;
	transition: all 0.3s linear;
}
#nav-wrap{
	width: 100%;
	position: relative;
	height:auto;
	z-index:99;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container{
	height: 204px;
	width: 1238px;
	/*background: pink;*/
	margin:0 auto; 
	background: #fff;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li{
	/*width: 195px;*/
	height: 204px;
	/*background: green;*/
	overflow: hidden;
	float: left;
	position: relative;
	padding: 0 20px;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>img{
	display: block;
	width: 160px;
	height: 110px;
	margin-top: 34px;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>.goods-info{
	text-align: center;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span{
	display: block;
	font-size: 12px;
	margin-top: 8px;

}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span.goods-price{
	color: #FF6700;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span.goods-price1{
	color: #333;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>p>span.goods-title{
	color: #333;

}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li+li::before{
	content: "";
	width: 1px;
	height: 100px;
	background: #e0e0e0;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -68px;
	left: 0px;

}
#nav #nav-menu>ul>li>.menu-goods-list>.top-line{
	width: 100%;
	height: 1px;
	background: #e0e0e0;
	top: 0;
	position: absolute;

}
#nav #nav-menu>ul>li>.menu-goods-list>.bottom-line{
	width: 100%;
	height: 1px;
	background: #e0e0e0;
	position: absolute;
	bottom: 0;
}
#nav #nav-menu>ul>li:hover>.menu-goods-list{
	height: 204px;
}
#nav #nav-menu>ul>li>.menu-goods-list>.list-container>ul>li>.goods-status{
	padding: 1px 20px;
	height: 20px;
	border: 1px solid #FF6700;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 1;
	margin-left: -30px;
	color: #FF6700;
	font-size: 12px;
	line-height: 20px;
}
#slider-container {
    position: relative;
    width: 1226px;
    height: 460px;
    /*background:red;*/
    margin: 0 auto;
    top: 7px;
    /*z-index:-1;*/
}

#slider-container #slider img {
    width: 1226px;
    height: 460px;
    /*background:red;*/
    margin: 0 auto;
    position: absolute;
    margin-left: -21px;
    /*left: 56px;*/

}

#slider-container #cate-menu {
    width: 234px;
    height: 460px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 5px;
    top: 0;
}

#slider-container #cate-menu {
    /*padding-top: 30px;*/
    box-sizing: border-box;
    box-sizing: content-box;
    /* overflow: hidden;*/
    margin-left: -27px;
}

#slider-container #cate-menu>ul>li {
    width: 234px;
    height: 40px;
    line-height: 40px;
    /*background: green;*/
    /*margin-top:20px; */
    /*position: relative;*/
    /* overflow: hidden;*/
}

#slider-container #cate-menu>ul>li>a {

    color: #fff;
    font-size: 14px;
    display: block;
    padding-left: 30px;
   	padding-top: 0px;

}

#slider-container #cate-menu>ul {
    /*   overflow: hidden;*/
    padding-top: 20px;
    /*position: absolute;*/
    margin-left: -21px;
    margin-left: 0px;
}

#slider-container #cate-menu>ul>li:hover {
    background: #FF6700;
}

#slider-container #cate-menu>ul>li>a>span {
    float: right;
    margin-right: 26px;
    color: #AEB3B7;
}
#slider-container #cate-menu>ul>li>.cate-menu-list{
	width:992px;
	height: 460px;
	background:#fff;
	position: absolute;
	left: 234px;
	top:0px;
	display: none;
	/*box-sizing: border-box;*/

}
#slider-container #cate-menu>ul>li>.cate-menu-list-num-3{
	width: 744px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list-num-2{
	width: 496px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list-num-1{
	width: 248px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul{
	width: 248px;
	height: 460px;
	float: left;
}
/*#slider-container #cate-menu>ul>li>.cate-menu-list:first-child{
	margin-top: 0px;

}*/
/*#slider-container #cate-menu>ul>li>.list-1{
	margin-top: 0px;
}*/
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li{
	line-height: 10px;
	height: 48px;
	margin: 0 auto;
	padding-top: 26px;
	/*overflow: hidden;*/

}
#slider-container #cate-menu>ul>li:hover>.cate-menu-list{
	display: block;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a{
	display: block;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: -5px;

}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul:nth-of-type(1){
	margin-top:3px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a>img{
	width: 40px;
	height: 40px;
	margin-left: 24px;
	display: block;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a>span{
	font-size: 14px;
	color:#333333;
	margin-left: 16px;
}
#slider-container #cate-menu>ul>li>.cate-menu-list>ul>li>a>span:hover{
	color: #FF6700;
}/*第一行元素高度莫名变高*/


#choose-menu{
	position: relative;
	margin-top: 18px;
	/*margin-left: 42px;*/
	left: 40px;
}
#choose-menu>ul>li{
	float: left;
	position: relative;
	padding-right: 15px;
}
#choose-menu>ul>li>a>img{
	width: 316px;
	height: 170px;
}
#choose-menu>ul>li>a{
	display: block;
}
#choose-menu>ul>li>.choose-menu-child{
	width: 236px;
	height: 167px;
	/*border: 1px solid red;*/
	background: #5F5750;
	/*margin-left: -20px;*/

}
#choose-menu>ul>li>.choose-menu-child>ul>li{
	width: 78px;
	height: 62px;
	/*border-right: 1px solid blue;
	border-bottom: 1px solid blue;*/
	float: left;
	padding-top: 18px;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	position: relative;
	margin: 0 auto;
	
}
/*#choose-menu>ul>li>.choose-menu-child>ul{
	margin-left: 0 auto;
}*/
#choose-menu>ul>li>.choose-menu-child>ul>li>a{
	color: #CDCAC8;
	margin: 2px;
}
#choose-menu>ul>li>.choose-menu-child>ul>li>a:hover{
	color: #fff;
}
#choose-menu>ul>li>.choose-menu-child>ul>li::after{
	height: 65px;
	width: 1px;
	background:#665E57;
	content: "";
	position: absolute;
	top: 10px;
	left: 0px;

}
#choose-menu>ul>li>.choose-menu-child>ul>li::before{
	height: 1px;
	width: 65px;
	background: #665E57;
	top: 0px;
	left:7px;
	position: absolute;
	content: "";
}





/*小米闪购*/
#quickly-shopping{
	width: 1226px;
	height: 438px;
	/*position: absolute;*/
	/*background: blue;*/
	margin-top: 208px;
	padding-left: 42px;
	margin-left: 42px;
	background: #F1EDED;
}
#quickly-shopping>.title{
	width: 1226px;
	height: 58px;
	/*background: yellow;*/
	clear: both;
	display: block;
	position: relative;
	/*top: 28px;*/
	margin-left: -42px;
	/*margin-top: 30px;*/
	line-height: 68px;
	font-size: 22px;
}
#quickly-shopping>#shopping-menu>.shopping-menu-list{
	width: 230px;
	height: 332px;
	display: flex;
	margin-left: -42px;
	display: block;
	border-top: 1px solid #E53935;
	background:#fff;
	/*margin-top: -48px;*/
	float: left;
}
#quickly-shopping>#shopping-menu>.one{
	border-top: 1px solid #FFAC13;
}
#quickly-shopping>#shopping-menu>.two{
	border-top: 1px solid #83C44E;
}
#quickly-shopping>#shopping-menu>.three{
	border-top: 1px solid #2196F3;
}
#quickly-shopping>#shopping-menu>.four{
	border-top: 1px solid #E53935;
}
#quickly-shopping>#shopping-menu>ul:nth-of-type(n+2){
	margin-left: 19px;
}
#quickly-shopping>#shopping-menu>ul>li{
	/*background: red;*/
	text-align : center;
	line-height: 50px;
	/*margin-top: 48px;*/
	padding-top: 60px;
	width: 100%;
	position: relative;
}
#quickly-shopping>#shopping-menu>ul>li>img{
	display: inline-block;
}
#quickly-shopping>#shopping-menu>ul>li>a>img{
	display: inline-block;
}
#quickly-shopping>#shopping-menu>ul>li>.countdown{
	width: 168px;
	height: 46px;
	margin: 12px auto 0;
}
#quickly-shopping>#shopping-menu>ul>li>.top-first{
	width: 64px;
	height: 20px;
	background: #E53935;
	position: absolute;
	top: 0;
	left: 85px;
	line-height: 18px;
	font-size: 12px;
	color: #fff;
}

#quickly-shopping>#shopping-menu>ul>li>a>img{
	width: 160px;
	height: 160px;
	margin-top: -20px;
}
#quickly-shopping>#shopping-menu>ul>li>a>.list-name>.list-shopping{
	font-size: 14px;
	color:#202020;
	margin-top: -16px;
}
#quickly-shopping>#shopping-menu>ul>li>a>.list-name>.list-description{
	font-size: 13px;
	color: #ADADAD;
	margin-top: -28px;

}
#quickly-shopping>#shopping-menu>ul>li>a>.list-price{
	font-size: 14px;
	color: #FF6700;
	margin-top: -16px;
}
#quickly-shopping>#shopping-menu>ul>li>a>.list-price>del{
	color: #ADADAD;
}
#quickly-shopping>#shopping-menu>ul>li>.countdown>div{
	float: left;

}
#quickly-shopping>#shopping-menu>ul>li>.countdown>.box{
	width: 46px;
	height: 46px;
	background:#605751;
	color: #fff;
	font-size: 22px;

}
#quickly-shopping>#shopping-menu>ul>li>.countdown>.dosh{
	font-size: 22px;
	width: 15px;
	height:46px;
}

/*广告*/
.advertising>a>img{
	height:118px;
	width: 1226px;
	margin-left: 42px;
	margin-top: 0;
}
.advertising-the-second{

}
.advertising-the-second>a>img{
	/*margin-top: 20px;*/
	height:118px;
	width: 1226px;
	margin-left: 42px;
	/*position: relative;*/
	margin-top: 43px;
	display: inline-block;
}

/*手机*/
#phone-menu>.title-second{
	width: 1226px;
	height: 58px;
	background: #F5F5F5;
	margin-left: 40px;
	line-height: 52px;
}
#phone-menu{
	margin-top: 41px;
	height: 614px;
	width: 100%;
	background: #F5F5F5;
}
#phone-menu>.title-second>span{
	/*text-align: center;*/
	font-size: 22px;
	/*margin-top: 20px;*/

}
#phone-menu>.title-second>a{
	font-size: 16px;
	float: right;
	/*margin-top: 20px;*/
	color: #424242;
}
#phone-menu>.title-second>a:hover{
	color: #FF6700;
}
#phone-menu>#phone-shopping-left>a>img{
	height: 614px;
	width: 233px;
	display: inline-block;
	margin-left:42px; 
	/*display: none;*/

}
#phone-menu>#phone-shopping-left>a{
	/*position: absolute;*/
	/*z-index: 1;*/
	float: left;
	transition: all 0.2s linear;
}
#phone-menu>#phone-shopping-left>a:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;
}

#phone-menu>#phone-shopping-right>ul{
	width: 992px;
	height: 614px;
	margin-left: 275px;
	background: #F5F5F5;
}
#phone-menu>#phone-shopping-right>ul>li{
	width: 229px;
	height: 300px;
	background: #fff;
	float: left;
	margin-left: 18.5px;
	
	
}
/*#phone-menu>#phone-shopping-right>ul>li:nth-of-type(4n+1){
	margin-left: 0;
}*/
#phone-menu>#phone-shopping-right>ul>li:nth-last-of-type(4){
	margin-top: 14px;
}
#phone-menu>#phone-shopping-right>ul>li:nth-last-of-type(3){
	margin-top: 14px;
}#phone-menu>#phone-shopping-right>ul>li:nth-last-of-type(2){
	margin-top: 14px;
}#phone-menu>#phone-shopping-right>ul>li:nth-last-of-type(1){
	margin-top: 14px;
}
#phone-menu>#phone-shopping-right>ul>li>a{
	line-height: 20px;
}
#phone-menu>#phone-shopping-right>ul>li>.top-title{
	height: 20px;
	width: 64px;
	background: #E53935;
	margin: 0 auto;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 18px;


}
#phone-menu>#phone-shopping-right>ul>li>.none{
	background: #fff;
}
#phone-menu>#phone-shopping-right>ul>li>a>img{
	width: 160px;
	height: 160px;
	/*margin: 0 auto;*/
	margin-left: 40px;
	margin-top: 20px;
}
#phone-menu>#phone-shopping-right>ul>li>a>span>p{
	display: block;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#phone-menu>#phone-shopping-right>ul>li>a>span>.phone-name{
	font-size: 14px;
	color: #333333;
}
#phone-menu>#phone-shopping-right>ul>li>a>span>.phone-discription{
	font-size: 12px;
	color: #B7B0B0;
}
#phone-menu>#phone-shopping-right>ul>li>a>.price{
	text-decoration: none;
	text-align: center;
	display: block;
	color: #FF6700;
	font-size: 14px;
	padding-top:10px;

}
#phone-menu>#phone-shopping-right>ul>li>a>.price>del{
	color: #B0B0B0;
}
#phone-menu>#phone-shopping-right>ul>li>a>span{
	text-align: center;
}
#phone-menu>#phone-shopping-right>ul>li:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;

}

/*家电*//*划过显示时下面图无法出现显示效果,出现显示重叠问题*/
#home-appliance{
	height: 684px;
	width: 100%;
	background:#F5F5F5;
	margin-top:22px;
	position: relative;
}
#home-appliance>.home-appliance-header{
	height: 58px;
	width: 1226px;
	background: #F5F5F5;
	margin-left: 42px;
	/*position: relative;*/
}
#home-appliance>.home-appliance-header>span{
	float: left;
	margin-top: 16px;
	color: #424242;
	font-weight: bold;
	font-size: 22px;
}
#home-appliance>.home-appliance-header>ul{
	float: right;
	width: 280px;
	height: 42px;
}
#home-appliance>.home-appliance-header>ul>li>a{
	float: left;
	height: 26px;
	/*width: 32px;*/
	margin-top: 16px;
	margin-left:30px;
	color: #424242;

}
#home-appliance>.home-appliance-header>ul>li>a:hover{
	text-decoration: underline;
	color: #FF6700;

}
#home-appliance>.home-appliance-header>ul>li>a>#table-activity{
	float: left;
	height: 26px;
	width: 64px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul{
	width: 986px;
	height: 626px;
	background:#F5F5F5;
	position: absolute;
	left: 282px;
	top: 58px;

}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li{
	width: 234px;
	height: 300px;
	text-align: center;
	line-height: 20px;
	margin-left: 12px;
	margin-bottom: 14px;
	background:#fff;
	float: left;
	/*z-index: 10;*/
	position:relative;
}
/*#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>#table-activity{
	position: relative;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>#table-activity:hover{
	z-index: 30;

}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>.computer:hover{
	z-index: 50;
}*/
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>.the-one{
	width: 234px;
	height: 143px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>.the-two{
	width: 234px;
	height: 144px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-top>a>img{
	width: 80px;
	height: 80px;
	float: right;
	display: block;
	margin-top: 20px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-top>a>p{
	width: 154px;
	padding-top: 20px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
	font-size: 13px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-top>.price{
	width: 154px;
	margin-left: -12px;
	margin-top: 4px;
	color: #FF6700;
	font-size: 13px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-top{
	width: 234px;
	height: 143px;
	margin-bottom: 12px;
	background:#fff;
	/*margin: 0 auto;*/
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-bottom{
	width: 234px;
	height: 144px;
	background: #fff;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-bottom{
	float: right;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-bottom>a>i{
	margin-top: 60px;
	float: right;
	margin-right: 36px;
	margin-left: 26px;
	color: #FF6700;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-bottom>a{
	width: 94px;
	height: 45px;
	line-height: 24px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-bottom>a>.bottom-name{
	padding-top: 50px;
	color: #333;
	font-size: 20px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.the-bottom>a>.bottom-name-1{
	margin-left: -52px;
	font-size: 13px;
	color: #757575;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li:hover .bottom-view{
	display: block;
	transition:all 0.3s linear;/*没作用*/
	margin-top: -60px;

}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;

}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>.bottom-view{
	 width: 223px;
    height: 76px;
    background: #ff6900;
    /*margin-top: -60px;*/
    position: absolute;
    /*top: 224px;*/
   /*自动换行问题*/
    /*line-height: 24px;*/
   display: none;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>.bottom-view>.top{
	margin-left: 26px;
	margin-right: 46px;
	text-align:left;
	color: #fff;
	font-size: 13px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>.bottom-view>.bottom{
	margin-left: 26px;
	margin-right: 46px;
	text-align:left;
	margin-top: 8px;
	color: #B0B0B0;
	font-size: 12px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>img{
	width: 150px;
	height: 150px;
	display:inline-block;
	margin-bottom: 18px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>.home-name{
	font-size: 14px;
	color: #333333;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>.home-description{
	font-size: 13px;
	color: #B0B0B0;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>.home-price{
	font-size: 13px;
	color:#FF6700;
	margin-top: 18px;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>a>.home-price>del{
	color: #B0B0B0;
}
#home-appliance>.home-appliance-header>ul>li>.home-list>.list-content>ul>li>.head{
	width: 64px;
	height: 20px;
	/*background: blue;*/
	margin: 0 auto;
	margin-bottom: 14px;
}
#home-appliance>.home-appliance-left{
	width: 240px;
	height: 556px;
	background:#F5F5F5;
	margin-left: 42px;
}
#home-appliance>.home-appliance-left>ul>li>a>img{
	width: 240px;
	height: 304px;
	display: inline-block;
	/*margin-top: 20px;*/
}
#home-appliance>.home-appliance-left>ul>li>a>img:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;
}
#home-appliance>.home-appliance-left>ul>.second-picture>a>img{
	margin-top: 16px;
}



/*为你推荐*/

#recommended{
	width: 1226px;
	height: 438px;
	/*position: absolute;*/
	/*background: blue;*/
	margin-top: 208px;
	padding-left: 42px;
	margin-left: 42px;
	background: #F1EDED;
}
#recommended>.title{
	width: 1226px;
	height: 58px;
	/*background: yellow;*/
	clear: both;
	display: block;
	position: relative;
	/*top: 28px;*/
	margin-left: -42px;
	/*margin-top: 30px;*/
	line-height: 68px;
	font-size: 22px;
}

#recommended>#shopping-menu>ul>li{
	text-align: center;
	margin-top: 40px;
	line-height: 30px;
}
#recommended>#shopping-menu>ul:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;
}
#recommended>#shopping-menu>.shopping-menu-list{
	width: 230px;
	height: 332px;
	display: flex;
	margin-left: -42px;
	display: block;
	background:#fff;
	/*margin-top: -48px;*/
	float: left;
}
#recommended>#shopping-menu>ul:nth-of-type(n+2){
	margin-left: 19px;
}
#recommended>#shopping-menu>ul>li>a>p{
	color: #333;
	font-size: 14px;
}
#recommended>#shopping-menu>ul>li>.price{
	color: #FF6700;
	font-size: 14px;
}
#recommended>#shopping-menu>ul>li>.evaluation{
	color: #757575;
	font-size:14px;
}
#recommended>#shopping-menu>ul>li>a>img{
	display: inline-block;
	text-align: center;
}



/*热评产品*/
#buzz-products{
	width: 1226px;
	height: 473px;
	background: #F5F5F5;
	margin-left: 42px;
	margin-top:20px;
}
#buzz-products>.title{
	width: 1226px;
	height: 58px;
	background: #F5F5F5;
	line-height: 60px;
	font-size: 22px;
}
#buzz-products>.products>ul{
	width: 1240px;
	height: 415px;
}
#buzz-products>.products>ul>li{
	width: 296px;
	height: 415px;
	background: #fff;
	float: left;
}
#buzz-products>.products>ul>li:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;
}
#buzz-products>.products>ul>li+li{
	margin-left: 14px;
}
#buzz-products>.products>ul>li>a>img{
	width: 296px;
	height: 220px;
	margin-bottom: 32px;
}
#buzz-products>.products>ul>li>.evaluation{
	font-size: 12px;
	color:#B7B7CB;
	margin-left: 28px;
	margin-bottom: 16px;
	margin-top: 10px;
}
#buzz-products>.products>ul>li>.products-name{
	float: left;
	margin-left: 28px;
	font-size: 14px; 
}
#buzz-products>.products>ul>li>.products-name>a{
	color: #333;
}
#buzz-products>.products>ul>li>.products-name>span{
	color: #C1B0C1;
}
#buzz-products>.products>ul>li>.products-price{
	font-size: 14px;
	color: #FF6700;
}
#buzz-products>.products>ul>li>a>p{
	font-size: 14px;
	color: #333;
	width: 240px;
	height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp:3;
	margin-left: 28px;
	word-wrap: break-word;
	line-height: 24px;
	white-space:normal;
	word-break:break-all;

}



/*内容*/
.shopping-content{
	width: 1226px;
	height: 478px;
	/*position: absolute;*/
	/*background: blue;*/
	margin-top: 20px;
	/*padding-left: 42px;*/
	margin-left: 44px;
	background:#F5F5F5;
}
.shopping-content>.title{
	width: 1226px;
	height: 58px;
	/*background: yellow;*/
	clear: both;
	display: block;
	position: relative;
	/*top: 28px;*/
	/*margin-left: -42px;*/
	/*margin-top: 30px;*/
	line-height: 68px;
	font-size: 22px;
}
.shopping-content>#shopping-menu>.shopping-menu-list{
	width: 293.7px;
	height: 420px;
	display: flex;
	/*margin-left: -42px;*/
	display: block;
	border-top: 1px solid #E53935;
	background:#fff;
	/*margin-top: -48px;*/
	float: left;
	/*border: 1px solid #C292C9;*/
}
.shopping-content>#shopping-menu>ul>li>.shopping-content-top{
	font-size: 16px;
	color: #FFD890;
	margin-bottom: 20px;

}
.shopping-content>#shopping-menu>.one>li>.shopping-content-top{
	color: #83C44E;
}
.shopping-content>#shopping-menu>.first>li>.shopping-content-top{
	color:#E98F6D;
}
.shopping-content>#shopping-menu>.second>li>.shopping-content-top{
	color: #2196F3;
}
.shopping-content>#shopping-menu>ul>li>a>.shopping-content-name{
	margin-bottom: 10px;
	font-size: 20px;
	color: #333;
}
.shopping-content>#shopping-menu>ul>li>a>.shopping-content-description{
	margin-bottom: 16px;
	color: #CBB7C1;
	font-size: 12px;
}
.shopping-content>#shopping-menu>.one>li>a>.shopping-content-description{
	margin-bottom: 62px;
}
.shopping-content>#shopping-menu>ul>li>a>.shopping-content-price{
	margin-bottom: 20px;
	color: #333;
	font-size: 15px;
}
.shopping-content>#shopping-menu>ul>li>img{
	margin: 0 auto;
}

.shopping-content>#shopping-menu>ul>li>a>.button-left{
	width: 20px;
	height: 48px;
	background:#fff;
	float: left;
}
.shopping-content>#shopping-menu>ul>li>a>.button-right{
	width: 20px;
	height: 48px;
	background: #fff;
	float: right;

}
.shopping-content>#shopping-menu>ul>li>a>div{
	position: relative;
}
.shopping-content>#shopping-menu>ul>li>a>div>i{
	position: absolute;
	top: 16px;
	left: 4px;
	color: #fff;
}
.shopping-content>#shopping-menu>ul>li>a>.button-left>i{
	left: 0px;
}
.shopping-content>#shopping-menu>ul>li>a>.radius>a>ul{
	width: 296px;
	height: 30px;
	background: red;
}

.shopping-content>#shopping-menu>.shopping-menu-list{
	border-top: 1px solid #FFAC13;
}
.shopping-content>#shopping-menu>.one{
	border-top: 1px solid #E98F6D;
}
.shopping-content>#shopping-menu>.first{
	border-top: 1px solid #83C44E;
}
.shopping-content>#shopping-menu>.second{
	border-top: 1px solid #2196F3;
}
.shopping-content>#shopping-menu>ul:nth-of-type(n+2){
	margin-left: 17px;
}
.shopping-content>#shopping-menu>ul>li{
	/*background: red;*/
	text-align : center;
	/*line-height: 50px;*/
	/*margin-top: 48px;*/
	padding-top: 46px;
	width: 100%;
	height: 
}
.shopping-content>#shopping-menu>ul:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;
}
.shopping-content>#shopping-menu>ul:hover>li>a>div{
	background: #B0B0B0;
	transition: all 0.5s linear;
}
.shopping-content>#shopping-menu>ul>li>a>div:hover{
	background: #757575;
	transition: all 0.5s linear;

}
/*视频*/
.shopping-video{
	width: 1226px;
	height: 343px;
	background:#F5F5F5;
	margin-left: 42px;
	margin-top: 20px;
}

.shopping-video>.title-six{
	width: 1226px;
	height: 58px;
	background: #F5F5F5;
	/*margin-left: 42px;*/
	line-height: 52px;
}

.shopping-video>.title-six>span{
	/*text-align: center;*/
	font-size: 22px;
	/*margin-top: 20px;*/

}
.shopping-video>.title-six>a{
	font-size: 16px;
	float: right;
	/*margin-top: 20px;*/
	color: #424242;
}
.shopping-video>.title-six>a:hover{
	color: #FF6700;
}
.shopping-video>ul{
	width: 1240px;
	height: 285px;
}
.shopping-video>ul>li{
	width:296px;
	height:285px;
	background:#fff;
	float:left;
	text-align: center;
	margin-right: 14px;
}
.shopping-video>ul>li>a>img{
	display: inline-block;
	width: 296px;
	height: 180px;

}
.shopping-video>ul>li>a{
	line-height: 28px;
}
.shopping-video>ul>li>a>p{
	margin-bottom: 6px;
	font-size: 14px;
	color: #333;
}
.shopping-video>ul>li:hover{
	transform: translate3d(0,-2px,0);
	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
	transition: all .2s linear;
}
.shopping-video>ul>li>a>p:hover{
	color: #FF6700;
}
.shopping-video>ul>li>p{
	font-size: 12px;
	color: #B0B0B0;
}



/*页脚*/
#footer{
	width: 100%;
	height: 272px;
	/*background:#FF00FF;*/
	margin-top: 60px;
}
#footer>.footer-service{
	width: 1226px;
	height: 80px;
	/*background: #C936A8;*/
	margin-left: 42px;
}
#footer>.footer-service>ul{
	width: 1226px;
	height: 25px;
	/*margin-left: 42px;*/
	padding-top: 27.5px;
	padding-bottom: 27.5px;
	border-bottom: 1px solid #E0E0E0;

}
#footer>.footer-service>ul>li{
	float: left;
	width: 245px;
	height: 25px;
	/*line-height: 80px;*/
	text-align: center;
	/*margin-top: 26px;*/
	position: relative;
}
#footer>.footer-service>ul>li>a{
	 color: #616161;
	 font-size: 15px;
}
#footer>.footer-service>ul>li>a:hover{
	color: #FF6700;
}
#footer>.footer-service>ul>li+li::before{
	background:#E0E0E0;
	height: 25px;
	width: 1px;
	content: "";
	position: absolute;
	left: 0px;
}
.footer-clearfix{
	width: 1226px;
	height: 112px;
	/*background: blue;*/
	margin-left: 42px;
	margin-top: 41px;
	margin-bottom: 41px;
}
.footer-clearfix>ul>.fix-left{
	float: left;
}
.footer-clearfix>ul>.fix-left>dl{
	width: 160px;
	height: 112px;
	float: left;
}
.footer-clearfix>ul{
	width: 1226px;
	height: 112px;
}
.footer-clearfix>ul>.fix-left>dl>dt{
	margin-bottom: 26px;
	font-size: 15px;
}
.footer-clearfix>ul>.fix-left>dl>dd{
	margin-top: 4px;
	font-size: 12px;
	line-height: 21px;
	
}
.footer-clearfix>ul>.fix-left>dl>dd>a:hover{
	color:#FF6700;
}
.footer-clearfix>ul>.fix-left>dl>dd>a{
	color: #757575;
}
#footer>.footer-clearfix>ul>.fix-right{
	height:112px;
	width: 245px;
	/*background: yellow;*/
	float: right;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
#footer>.footer-clearfix>ul>.fix-right>.phone-number{
	margin-bottom: 6px;
	font-size: 20px;
	color: #FF6700;
}
#footer>.footer-clearfix>ul>.fix-right>.work-time{
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 16px;
}
#footer>.footer-clearfix>ul>.fix-right>a{
	width: 120px;
	height: 30px;
	display:block;
	/*background: #FF6700;*/
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
	border: 1px solid #FF6700;
	line-height: 28px;
	color: #FF6700;
}
#footer>.footer-clearfix>ul>.fix-right>a:hover{
	background: #FF6700;
	color: #fff;
	transition: all 0.3s linear;
}
#finally{
	width: 100%;
	height: 166px;
	/*background: red;*/
	margin-top: 32px;
	margin-bottom: 32px;
}
#finally>#container{
	width: 1226px;
	height: 57px;
	/*background:cyan;*/
	margin-left: 42px;
	
}
#finally>#container>.list>ul>li{
	float:left;
	display:block;
	
}
#finally>#container>.list>ul>li>a:hover{
	color: #FF6700;
}
#finally>#container>.list>ul{
	width: 750px;
	/*height: 57px;*/
	/*position: relative;*/
	margin-left: 64px;
	margin-top: -56px;
	line-height: 16px;
}
#finally>#container>.list>ul>p{
	color: #D7C0B0;
	font-size: 12px;


}
#finally>#container>.list>ul>p>a{
	color: #D7C0B0;
	
}
#finally>#container>.list>ul>p>a:hover{
	color: #FF6700;
}
#finally>#container>.list>ul>li>a{
	color: #757575;
	font-size: 12px;
}
#finally>#container>.right{
	float: right;
}
#finally>#container>.right>a>img{
	width: 75px;
	height: 28px;
	float: right;
	margin-top: -20px;
}
#finally>#container>.right{
	width:435px;
	height: 57px;
	position: relative;
	top: -30px;
}
#finally>.last{
	font-size: 18px;
	margin-top:48px;
	margin-left:522px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	font-size:18px;
	color:#DADADA;